---
title: Social Verification of Implicit Knowledge
summary: How dyadic interaction shapes use of unconscious knowledge
date: 2015-01-01
dateEnd: 2023-01-01
label: publication
image: ../../assets/projects/social-verification.png
links:
  - href: https://doi.org/10.1080/20445911.2023.2220924
    label: Read paper
  - href: https://doi.org/10.13140/RG.2.2.16215.39847
    label: Read PhD thesis
order: 5
---
